.header {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: auto;

  background-color: white;
}

.total-beers {
  margin-bottom: 0;
}

.basket-score {
  margin-top: 0;
}
