body{
  background-color: gray;
}

.beer-card {
  display: inline-block;
  background-color: white;
  width: 400px;
  border-radius: 40px;
  border: 2px solid black;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  padding: 16px;
  margin: 16px;
  text-align: center;
}

.beer-card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.name {
  margin-block: 0;
}

.image {
  height: 200px;
  width: auto;
}

.description {
  margin-block: 8px;
}
